<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>Add new product</h3>

<a th:href="@{/}"> Back to products</a>

<form action="/save" th:method="post" th:object="${product}">
    <table>
        <tr>
            <th>Id:</th>
            <th><input type="hidden" th:field="*{id}"></th>
        </tr>

        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>

        <tr>
            <td>Price:</td>
            <td><input type="number" th:field="*{price}"></td>
        </tr>

        <tr>
            <td>Describe:</td>
            <td><input type="text" th:field="*{describe}"></td>
        </tr>

        <tr>
            <td>Producer:</td>
            <td><input type="text" th:field="*{producer}"></td>
        </tr>
    </table>

    <button type="submit">Save</button>
</form>
</body>
</html>